/***********************************Universal style***********************************/

*{
    margin: 0px;
    color: red;
}

/****App****/

body {
    font-family: sans-serif;
    background-image: url('https://i.ytimg.com/vi/Q9ONYPyHBSs/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;

}

/************************************** Nav*****************************************/
nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
}

.navbar-image {
    width:160px;
}

/********************************Searchbar***************************************/
.searchbar-container {
    display: flex;
    margin: 0px 10px;
    padding: 0;
    align-items: center;
    flex: 1;
    align-items: stretch;
}

.searchbar {
    background: white;
    margin-right: 20px;
    flex: 1;
    width: 100%;
}

.searchbar input {
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0,0,0.25);
    border: none;
    width: 100%;
}

.searchbar input:focus {
    outline: none;
}

.searchbar-btn button{
   background-color: #363636;
   border: none;
   border-radius: 10px;
   height: 100%;
   color: white;
   padding: 10px 12px;
   margin-left: 20px;
}

.not-found-text {
    text-align: center;
    font-size: 1.25rem;
    padding: 20px;
}

/*******************************Header***************************/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
  padding: 10px;
}

/********Pokedex***************/

.pokedex-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
    padding: 0px 10px 20px 10px;
}

/***Poke-card***/

.pokemon-card {
    display: flex;
    box-shadow: 4px 4px 4px rgba(0,0,0.25);
    border-radius: 3px;
}

.pokemon-img-container {
    padding: 0px 5px;
}

.pokemon-img {
    width: 70px;
    height: 70px;
}

.pokemon-type {
   display: flex;

}

.pokemon-type-text {
    margin-right: 10px;
    text-transform: capitalize;
}

.card-body {
   display: flex;
   flex-direction: column;
   justify-content:space-between;
   padding: 10px 10px 10px 10px;
   flex: 1;
}

.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-top h3 {
    text-transform: capitalize;
}

.pokemon-heart-btn {
    border:none;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0.25);
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

/*******************************Pagination************************************/***

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.icon {
    width: 28px;
    height: 28px;
}

.pagination-btn {
    background-color: green;
    border: none;
    border-radius: 50%;
    width:32px;
    height:32px;
    margin : 0px 8px;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
}


/**********************Modal******************************/


.container {
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
  }
  .container .modal {
    z-index: 1;
    width: 30%;
    height: 70%;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    position: relative;
    justify-content: space-evenly;
    animation: animate 0.3s;
    font-size: 2rem;
  }
  .modal button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    background: crimson;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  }

  .modal img {
    width: 300px;
    height: 300px;
  }

  .description {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
  }

  @keyframes animate {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

  .caracteristicas-btn {
      margin: 3px;
  }

/***************Responsive************************/

@media screen and (max-width: 992px) {
    .pokedex-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .App{
        background-repeat: repeat;
    }
    .container .modal {
        width: 80%;
        height: 80%;
    }
}

@media screen and (max-width: 660px) {
    .pokedex-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .container .modal {
        width: 95%;
        height: 90%;
    }
}


@media screen and (max-width: 1600px) {
    .App{
        background-repeat: repeat;
    }
    .container .modal {
        width: 70%;
        height: 70%;
    }
}